body {
  background-color: #ffffff;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.08) 1.25px,
    rgba(0, 0, 0, 0) 1.25px
  );
  background-size: 20px 20px; /* distance between dots */
  margin: 0 auto;
  padding: 0 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

figure {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}