
* {
  font-family: "Cabinet Grotesk", sans-serif;
}

body {
  margin: 0;
  padding: 0 3rem; 
}

.active {
  color: #f0b000;
  font-weight: bold;
  font-size: 18px;
}

.typing-effect {
  display: inline-block;
  border-right: 4px solid #333;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
