@import "tailwindcss";
* {
  font-family: 'Cabinet Grotesk', sans-serif;
}
body {
  background-color: #ffffff;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.08) 1px,
    rgba(0, 0, 0, 0) 1px
  );
  background-size: 20px 20px; /* distance between dots */
  margin: 0 auto;
  padding: 0 3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

figure {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.active {
  color: #f0b000;
  font-weight: bold;
  font-size: 18px;
}

.typing-effect {
  display: inline-block;
  border-right: 4px solid #333;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}